.kotak-atas {
    width: 97.5%;
    height: 100px;
    background-color: greenyellow;
    margin: 25px 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.container .kotak:nth-child(1) {
    background-color: yellow;
    width: 20%;
}

.container .kotak:nth-child(2){
    width: 78.5%;
}


.item-1 {
    background-color: orange;
}

.item-2 {
    background-color: aqua;
}

.kotak {
    height: 200px;
}